// reset css styles input
.title input {
  outline: none;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.title {
  display: flex;
  align-items: center;

  h1 {
    display: flex;
    align-items: center;

    &:hover svg{
      color: var(--base-color);
    }
  }

  label{
    display: flex;
  }

  input.editable {
    display: block;
    max-width: 620px;
    font-weight: bold;
    height: 100%;
    text-overflow: ellipsis;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 8px;
    margin-left: 4px;
    transition: 0.15s background-color ease-in-out,
                0.15s border ease-in-out;
  
    &:hover{
      background-color: var(--shadow-01);
    }
    &:focus{
      background-color: var(--shadow-01);
      border: 1px solid var(--base-color);
    }
  }
  &:focus-within svg{
    color: var(--base-color);
  }

  svg {
    cursor: default;
    margin-left: 8px;
    transition: 0.6s ease-out;
    order: -1;
    &:hover{
      filter: initial;
    }
  }
}